.subtitulo {
    margin-left: 15px;
    margin-top: 50px;
    padding: 0;
}

.conteiner {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;

}

h3 {
    margin-top: 90px;
    margin-bottom: 50px;
}

.subtitulo1{
    margin-top: 10px;
}

.img1 {
    float: right;
    margin-top: -60px;
    margin-left: 5px;
    max-width: 25%;
    border-radius: 20px;
}

.parrafo-infancia {
    text-align: justify;
}

.img2 {
    float: left;
    margin-top: -35px;
    margin-right: 5px;
    max-width: 30%;
    border-radius: 20px;
}

.profesional {
    text-align: justify;
}

.img3 {
    float: right;
    margin-top: -65px;
    margin-left: 5px;
    max-width: 30%;
    border-radius: 20px;
}

.mclaren {
    text-align: justify;
}

.img4 {
    float: left;
    margin-top: -40px;
    margin-right: 5px;
    max-width: 18%;
    border-radius: 20px;
}

.williams {
    text-align: justify;
}

.img5 {
    float: right;
    margin-top: -60px;
    margin-left: 5px;
    max-width: 30%;
    border-radius: 20px;
}

.legado {
    text-align: justify;
}